In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("실시간 전기차 충전소 상태정보.csv", encoding='cp949')
df

,Unnamed: 0,statNm,statId,chgerId,chgerType,addr,location,lat,lng,useTime,...,zcode,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail
0,0,홈플러스 영도점,ME000046,1,1,부산광역시 영도구 대교로14번길 57,NaN,35.095906,129.044240,09:00~24:00,...,26,26200.0,E0,E001,N,NaN,N,NaN,N,NaN
1,1,이마트 문현점,ME000048,1,3,부산광역시 남구 전포대로91번길 47,NaN,35.144356,129.064256,10:00~24:00,...,26,26290.0,E0,E001,N,NaN,N,NaN,N,NaN
2,2,이마트 금정점,ME000052,1,1,부산광역시 금정구 중앙대로1841번길 24,NaN,35.249759,129.090150,10:00~24:00,...,26,26410.0,E0,E001,N,NaN,N,NaN,N,NaN
3,3,홈플러스 아시아드점,ME000055,1,3,부산광역시 연제구 종합운동장로 7,NaN,35.191048,129.062506,09:00~24:00,...,26,26470.0,E0,E001,N,NaN,N,NaN,N,NaN
4,4,이마트 연제점,ME000056,1,3,부산광역시 연제구 연수로 89,NaN,35.176147,129.081345,10:00~24:00,...,26,26470.0,E0,E001,N,NaN,N,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251888,251900,부산교통공사 다대포해수욕장,TDL00002,1,5,부산광역시 사하구 다대로 지하692,다대포해수욕장 앞 지상주차장,35.048101,128.965600,24,...,26,26380.0,B0,B004,N,NaN,N,NaN,N,NaN
251889,251901,부산교통공사 다대포해수욕장,TDL00002,2,5,부산광역시 사하구 다대로 지하692,다대포해수욕장 앞 지상주차장,35.048101,128.965600,24,...,26,26380.0,B0,B004,N,NaN,N,NaN,N,NaN
251890,251902,부산교통공사 다대포해수욕장,TDL00002,3,5,부산광역시 사하구 다대로 지하692,다대포해수욕장 앞 지상주차장,35.048101,128.965600,24,...,26,26380.0,B0,B004,N,NaN,N,NaN,N,NaN
251891,251903,부산은행 본점,TDL79002,1,2,부산광역시 남구 문현금융로 30,건물주차장,35.145501,129.065849,24시간 이용가능,...,26,26290.0,A0,A003,N,NaN,N,NaN,N,NaN
251892,251904,부산은행 본점,TDL79002,2,2,부산광역시 남구 문현금융로 30,건물주차장,35.145501,129.065849,24시간 이용가능,...,26,26290.0,A0,A003,N,NaN,N,NaN,N,NaN

In [6]:
df.drop(columns=df.columns[0], inplace=True)

In [7]:
df

,statNm,statId,chgerId,chgerType,addr,location,lat,lng,useTime,busiId,...,zcode,zscode,kind,kindDetail,parkingFree,note,limitYn,limitDetail,delYn,delDetail
0,홈플러스 영도점,ME000046,1,1,부산광역시 영도구 대교로14번길 57,NaN,35.095906,129.044240,09:00~24:00,ME,...,26,26200.0,E0,E001,N,NaN,N,NaN,N,NaN
1,이마트 문현점,ME000048,1,3,부산광역시 남구 전포대로91번길 47,NaN,35.144356,129.064256,10:00~24:00,ME,...,26,26290.0,E0,E001,N,NaN,N,NaN,N,NaN
2,이마트 금정점,ME000052,1,1,부산광역시 금정구 중앙대로1841번길 24,NaN,35.249759,129.090150,10:00~24:00,ME,...,26,26410.0,E0,E001,N,NaN,N,NaN,N,NaN
3,홈플러스 아시아드점,ME000055,1,3,부산광역시 연제구 종합운동장로 7,NaN,35.191048,129.062506,09:00~24:00,ME,...,26,26470.0,E0,E001,N,NaN,N,NaN,N,NaN
4,이마트 연제점,ME000056,1,3,부산광역시 연제구 연수로 89,NaN,35.176147,129.081345,10:00~24:00,ME,...,26,26470.0,E0,E001,N,NaN,N,NaN,N,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251888,부산교통공사 다대포해수욕장,TDL00002,1,5,부산광역시 사하구 다대로 지하692,다대포해수욕장 앞 지상주차장,35.048101,128.965600,24,TD,...,26,26380.0,B0,B004,N,NaN,N,NaN,N,NaN
251889,부산교통공사 다대포해수욕장,TDL00002,2,5,부산광역시 사하구 다대로 지하692,다대포해수욕장 앞 지상주차장,35.048101,128.965600,24,TD,...,26,26380.0,B0,B004,N,NaN,N,NaN,N,NaN
251890,부산교통공사 다대포해수욕장,TDL00002,3,5,부산광역시 사하구 다대로 지하692,다대포해수욕장 앞 지상주차장,35.048101,128.965600,24,TD,...,26,26380.0,B0,B004,N,NaN,N,NaN,N,NaN
251891,부산은행 본점,TDL79002,1,2,부산광역시 남구 문현금융로 30,건물주차장,35.145501,129.065849,24시간 이용가능,TD,...,26,26290.0,A0,A003,N,NaN,N,NaN,N,NaN
251892,부산은행 본점,TDL79002,2,2,부산광역시 남구 문현금융로 30,건물주차장,35.145501,129.065849,24시간 이용가능,TD,...,26,26290.0,A0,A003,N,NaN,N,NaN,N,NaN